awsapi/awsapi.sln
awsapi/obj/Debug/net8.0/awsapi.AssemblyInfo.cs
awsapi/obj/Debug/net8.0/awsapi.AssemblyInfoInputs.cache
awsapi/obj/Debug/net8.0/awsapi.AssemblyInfo.cs
awsapi/obj/Debug/net8.0/awsapi.AssemblyInfoInputs.cache
